@import "tailwindcss";

*{
  box-sizing: border-box;
}

body{
  background: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family), sans-serif;

  min-height: 100vh;
}
