@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root{
  --primary-color: #14B8A6;
  --primary-color-light: #ebf8f7;

  --secondary-color: #0EA5E9;
  --secondary-color-light: rgba(189, 234, 255, 0.63);

  --background-color: #F1F5F9;
  --surface-color: #FFFFFF;

  --text-color: #0F172A;
  --text-color-white: #FFFFFF;
  --text-color-light: #94a0af;

  --accent-color: #84CC16;

  --font-family: "Figtree";
}
